.container {
  color: rgb(0, 202, 182);
  text-align: center;
  font-size: 35px;
}

body{
  background-color: #CEA6FF;
  font-family: "Stack Sans Notch", sans-serif;
}

a{
  font-size: 33px;
  background: #4600A1;
  color: white;
  box-shadow: 0 0 50px rgb(146, 110, 166);
}
